In [2]:
#Importing Libraries
from pymongo import MongoClient
import pandas as pd

In [3]:
#Connecting to mongo database using the connection string
client = MongoClient("mongodb+srv://debolamech:oluwatoyin@cluster0.leh48mn.mongodb.net/?retryWrites=true&w=majority")
db = client["student_db"]
student_record = db["student_record"]

In [6]:
def mongo(colections):
    result =list(colections.find({})) # Find and list the data in the collections,
    df = pd.DataFrame(result) # convert the result into a dataframe;
    df.to_csv("Project.csv")

    return df

In [7]:
mongo(student_record)

,_id,name,age,depatment,level
0,643cd6fc06b7439707f7c6b0,Adebola,20,Mechanical Engineering,400
1,643cd82206b7439707f7c6b2,Gboyega,21,Computer Mechanical Engineering,400
2,643cd88f06b7439707f7c6b4,Ayo,19,Electrical Engineering,400
3,643cd8be06b7439707f7c6b5,Steven,20,Civil Engineering,400